<div class="detail">
  <div class="container">
    <h5>rectangle dining tables</h5>
    <h2>rectangle dining tables product description one</h2>

    <div class="detail__text">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>

      
      <p><strong>Product code</strong>RTOOO1</p>
      <strong>Text on customisation. Contact us on 1800 000 000 to discuss how we can customise this product to suit your needs</strong>
    </div>

    <div class="detail__button">
      <a href="">enquire now</a>
      <a href="">share</a>
    </div>
  </div>
</div>
